      <div >
        {% assign lang = page.url | split: "/" %}

        {% assign languages = site.data.languages | sort: "name" %}
        {% for l in languages %}
          <a href="../{{ l.code }}{{ page.url | remove_first: lang[1] | remove_first: "/" }}">{{ l.name }}</a>
        {% endfor %}
      </div>

      <div class="trigger">
        <ul>
        {% assign hash = site.pages %}
        {% for p in hash %}
          {% assign l = p.url | split: "/" %}
          {% if p.title and l[1] == lang[1] and p.menu != false %}
            <li><a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }} - {{ p.path }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
<h1>{{page.title}}</h1>
<div>{{ page.title | email }}</div>